<div class="section no-pad-bot " id="index-banner" *ngIf="usuarios && usuarios.length > 0 ">
    <div class="container ">
        <ul materialize="collapsible" class="collapsible " data-collapsible="accordion " *ngIf="usuarioService.usuario.isAdmin">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons ">filter_list</i>Filtro
                </div>
                <div class="collapsible-body ">
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <input id="txtBusca" [(ngModel)]="sBusca" placeholder="Buscar" class="validate" (keyup)="changeBusca()">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul materialize="collapsible" class="collapsible " data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">list</i>Resultado
                </div>
                <div class="collapsible-body ">
                    <table *ngIf="usuarios && usuarios.length > 0">
                        <thead>
                            <tr>
                                <th width="75%">Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuariosFiltered">
                                <td>{{usuario.login}}</td>
                                <td>
                                    <i class="material-icons" (click)="OpenChangePassword(usuario)" style="cursor: pointer">vpn_key</i>
                                    <i *ngIf="usuarioService.usuario.isAdmin && usuario.isAdmin " class="material-icons" style="cursor: pointer" (click)="ChangeAdmin(usuario, false)">star</i>
                                    <i *ngIf=" usuarioService.usuario.isAdmin && !usuario.isAdmin" class="material-icons" style="cursor: pointer" (click)="ChangeAdmin(usuario, true)">star_border</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn" *ngIf="usuarioService.usuario.isAdmin">
    <a class="btn-floating purple darken-3" routerLink="/add-usuario" routerLinkActive="active">
        <i class="material-icons ">add</i>
    </a>
</div>


<!-- Modal Structure -->
<div id="mdlChangePassword" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <p>Digite a nova senha:</p>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="txtPassword" [(ngModel)]="senha" type="password" class="validate">
                <label for="txtPassword">Senha</label>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s7">
                <a (click)="ChangePassword(oUsuario)" class="btn-large waves-effect waves-light purple darken-3" style="width: 100%">
                    Alterar
                </a>
            </div>
        </div>
    </div>
</div>