<div class="section no-pad-bot " id="index-banner" *ngIf="usuarios && usuarios.length > 0 ">
    <div class="container ">
        <ul materialize="collapsible" class="collapsible " data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">filter_list</i>Todos
                </div>
                <div class="collapsible-body ">
                    <table *ngIf="usuarios && usuarios.length > 0" ng-init="colap()">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>{{usuario.login}}</td>
                                <td>
                                    <i *ngIf="usuario.isAdmin" class="material-icons">star</i>
                                </td>
                                <td>
                                    <i class="material-icons">vpn_key</i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn ">
    <a class="btn-floating purple darken-3 " routerLink="/add-usuario" routerLinkActive="active">
        <i class="material-icons ">add</i>
    </a>
</div>