<div class="section no-pad-bot " id="index-banner">
    <div class="container ">
        <ul materialize="collapsible" class="collapsible " data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">filter_list</i>Todos
                </div>
                <div class="collapsible-body ">
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <input id="txtBusca" [(ngModel)]="sBusca" placeholder="Buscar" class="validate" (keyup)="changeBusca()">
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col s4 offset-s2 ">
                            <input type="checkbox" id="test5" [(ngModel)]="bAtivos" (change)="changeBusca()" />
                            <label for="test5">Apenas ativos?</label>

                        </div>
                    </div>
                    <p *ngIf="!tiposPagamentoFiltered || tiposPagamentoFiltered.length == 0">
                        Nenhum tipo de pagamento foi encontrada
                    </p>
                    <table *ngIf="tiposPagamentoFiltered && tiposPagamentoFiltered.length > 0">
                        <thead>
                            <tr>
                                <th width="50%">Nome</th>
                                <th width="25%">Taxa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tipoPagamento of tiposPagamentoFiltered">
                                <td>{{tipoPagamento.nome}}</td>
                                <td>{{tipoPagamento.cobranca_Juros}}%</td>
                                <td>
                                    <i *ngIf="!tipoPagamento.is_ativo" class="material-icons" style="cursor: pointer" (click)="Alterar(tipoPagamento, true)">clear</i>
                                    <i *ngIf="tipoPagamento.is_ativo" class="material-icons" style="cursor: pointer" (click)="Alterar(tipoPagamento, false)">check</i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn ">
    <a class="btn-floating purple darken-3" (click)="OpenAddStatus(tipoMovimentacao)">
        <i class="material-icons ">add</i>
    </a>
</div>


<!-- Modal Structure -->
<div id="mdlChangePassword" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4>Nova Tipo de Movimentação</h4>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="txtPassword" [(ngModel)]="nome" placeholder="Nome" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="txtPassword" [(ngModel)]="juros" placeholder="Taxa de Juros" type="number" step="0.001" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s9">
                <a id="btn_entrar" (click)="AddStatus()" class="btn-large waves-effect waves-light purple darken-3" style="width: 100%">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</div>