<div class="section no-pad-bot " id="index-banner ">
    <div class="container ">
        <ul materialize="collapsible" class="collapsible " data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">add</i>Novo Usuario
                </div>
                <div class="collapsible-body ">
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input id="txtPassword" [(ngModel)]="senha" type="password" class="validate">
                            <label for="txtPassword">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s2">
                            <a routerLink="/dashboard" routerLinkActive="active" class="btn-large waves-effect waves-light purple lighten-4" style="width: 100%">
                                Voltar
                            </a>
                        </div>
                        <div class="col s3 offset-s2">
                            <a id="btn_entrar" (click)="btnAlter()" class="btn-large waves-effect waves-light purple darken-3" style="width: 100%">
                                Entrar
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>