<ul class="collapsible" *ngIf="hasSearch" materialize="collapsible" data-collapsible="accordion ">

    <li>
        <div class="collapsible-header ">
            <i class="material-icons ">filter_list</i>Filtros
        </div>
        <div class="collapsible-body ">
            <div>
                <div class="row">
                    <div class="input-field col s12 l6  ">
                        <label>Buscar</label>
                        <Br/>
                        <input id="txtBusca" [(ngModel)]="sBusca" class="validate" (keyup)="changeBusca()">
                    </div>
                    <div class="input-field col s12 l3">
                        <label>Valor Minima</label>
                        <Br/>
                        <input id="txtBusca" [(ngModel)]="sMin" class="validate" (keyup)="changeBusca()">
                    </div>
                    <div class="input-field col s12 l3  ">
                        <label>Valor Maximo</label>
                        <Br/>
                        <input id="txtBusca" [(ngModel)]="sMax" class="validate" (keyup)="changeBusca()">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6 ">
                        <label>Data Minima</label>
                        <Br/>
                        <input id="txtDateMin" type="date" placeholder="Data" class="validate" [ngModel]="dMin | date:'yyyy-MM-dd'" (ngModelChange)="dMin = $event; changeBusca();">
                    </div>
                    <div class="input-field col s12 l6  ">
                        <label>Data Maxima</label>
                        <Br/>
                        <input id="txtDateMax" type="date" placeholder="Data" class="validate" [ngModel]="dMax | date:'yyyy-MM-dd'" (ngModelChange)="dMax = $event; changeBusca();">

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12  l4" *ngIf="tipoMovimentacaos.length > 0">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="stipoMovimentacaos" (ngModelChange)="changeBusca()">
                            <option value="0" selected>Todos</option>
                            <option *ngFor="let option of tipoMovimentacaos" [value]="option.id">{{option.descricao}}</option>
                        </select>
                        <label>Tipo de Movimentação</label>
                    </div>
                    <div class="input-field col s12  l4" *ngIf="tipoPagamentos.length > 0">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="sTipoPagamentos" (ngModelChange)="changeBusca()">
                            <option value="0" selected>Todos</option>
                            <option *ngFor="let pag of tipoPagamentos" [value]="pag.id">{{pag.nome}}</option>
                        </select>
                        <label>Tipo de Pagamento</label>
                    </div>
                    <div class="input-field col s12  l4 " *ngIf="tipoGeral.length > 0">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="sTipo" (ngModelChange)="changeBusca()">
                            <option value="0" selected>Todos </option>
                            <option *ngFor="let pag of tipoGeral" [value]="pag">{{pag}}</option>
                        </select>
                        <label>Tipo </label>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<ul class="collapsible" materialize="collapsible" data-collapsible="accordion ">
    <li>
        <div class="collapsible-header active">
            <i class="material-icons ">list</i>Resultados
        </div>
        <div class="collapsible-body ">


            <table id="tblServico " class="responsive-table" *ngIf="lstMovimentacao && lstMovimentacao.length > 0">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Valor Bruto</th>
                        <th>Valor Liquido</th>
                        <th>Juros</th>
                        <th>Tipo Movimentação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let movimentacao of lstMovimentacaoFiltered">
                        <td>{{(movimentacao.descricao.length>12)? (movimentacao.descricao | slice:0:12)+'...':(movimentacao.descricao
                            )}}
                        </td>
                        <td>{{movimentacao.data | date : "dd/MM/yyyy"}}</td>
                        <td [style.color]="getStyle(movimentacao.valor)">{{(movimentacao.valor | NumberToStringFormat: 2:'R$ ': '':',':'.') }} </td>
                        <td [style.color]="getStyle(movimentacao.valor)">{{((movimentacao.valor * ((100 + movimentacao.tipoPagamento.cobranca_Juros) / 100)) | NumberToStringFormat:
                            2:'R$ ': '':',':'.') }} </td>
                        <td [style.color]="getStyle(movimentacao.tipoPagamento.cobranca_Juros)">{{movimentacao.tipoPagamento.cobranca_Juros | NumberToStringFormat: 2:'': '%':',':'.' }}</td>
                        <td>{{GetTipoMovimentacao(movimentacao.tipoPagamento.id)}}</td>
                        <td>
                            <i class="material-icons" (click)="ShowDetail(movimentacao)" style="cursor: pointer">info</i>
                            <i class="material-icons" (click)="Cancel(movimentacao)" style="cursor: pointer">close</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
<p *ngIf="!oUsuario.isAdmin">* Você esta vendo apenas a visão de suas movimentações e não as movimentações gerais da empresa</p>
<!-- Modal Structure -->
<div id="mdlChangePassword" *ngIf="this.targetMovimentacao" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]"
    [materializeActions]="modalActions">
    <div class="modal-content">
        <h4>Detalhes da Movimentação</h4>
        <br />
        <br />
        <div class="row">
            <div class="col s6 l3 campo">
                Valor Liquido
            </div>
            <div class="col s6 l3 valor" [style.color]="getStyle(targetMovimentacao.valor * ((targetMovimentacao.tipoPagamento.cobranca_Juros + 100) / 100) )">
                {{targetMovimentacao.valor * ((targetMovimentacao.tipoPagamento.cobranca_Juros + 100) / 100) | NumberToStringFormat: 2:'R$
                ': '':',':'.'}}
            </div>
            <div class="col s6 l3 campo">
                Valor Bruto
            </div>
            <div class="col s6 l3 valor" [style.color]="getStyle(this.targetMovimentacao.valor)">
                {{this.targetMovimentacao.valor | NumberToStringFormat: 2:'R$ ': '':',':'.'}}
            </div>
        </div>
        <div class="row">
            <div class="col s6 l3 campo">
                Data
            </div>
            <div class="col s6 l3 valor">
                {{this.targetMovimentacao.data | date: 'dd/MM/yyyy' }}
            </div>
            <div class="col s6 l3 campo">
                Usuário
            </div>
            <div class="col s6 l3 valor">
                {{GetUsuario(this.targetMovimentacao.usuario.id)}}
            </div>
        </div>


        <div class="row">
            <div class="col s6 l3 campo">
                Tipo de Pagamento
            </div>
            <div class="col s6 l3 valor">
                {{GetTipoMovimentacao(this.targetMovimentacao.tipoPagamento.id)}}
            </div>
            <div class="col s6 l3 campo">
                Juros cobrado
            </div>
            <div class="col s6 l3 valor" [style.color]="getStyle(this.targetMovimentacao.tipoPagamento.cobranca_Juros)">
                {{this.targetMovimentacao.tipoPagamento.cobranca_Juros | NumberToStringFormat: 2:'': '%':',':'.'}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12 campo">
                Tipo de Movimentação
            </div>
            <div class="col s12 l12 valor">
                {{GetTipoMovimentacao(this.targetMovimentacao.tipoMovimentacao.id)}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12 campo">
                Descrição
            </div>
            <div class="col s12 l12 valor">
                {{this.targetMovimentacao.descricao}}
            </div>
        </div>
    </div>
</div>
<style>
    .valor {
        color: gray
    }

    .campo {
        font-weight: bold;
    }
</style>