<div class="section no-pad-bot " id="index-banner ">
    <div class="container ">
        <ul class="collapsible" materialize="collapsible" data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active">
                    <i class="material-icons ">storage</i>Detalhe
                </div>
                <div class="collapsible-body ">
                    <u2x-tf-movimentacao [lstMovimentacao]="movimentacaos"></u2x-tf-movimentacao>
                </div>
            </li>
        </ul>
    </div>
</div>