<div class="section no-pad-bot " id="index-banner ">
    <div class="container ">
        <ul class="collapsible " data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">filter_list</i>Resumo
                </div>
                <div class="collapsible-body ">
                    <p>
                        <b>Entrada</b>:
                        <label> R$ 500,00</label>
                    </p>
                    <p>
                        <b>Saída</b>:
                        <label> R$ 200,00</label>
                    </p>
                    <p>
                        <b>Caixa</b>:
                        <label> R$ 300,00</label>
                    </p>

                </div>
            </li>
            <li>
                <div class="collapsible-header ">
                    <i class="material-icons ">storage</i>Detalhe
                </div>
                <div class="collapsible-body ">

                    <table id="tblServico " class="responsive-table ">
                        <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>Entrada</th>
                                <th>valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Marcia</td>
                                <td>Mensalidade Fabio</td>
                                <td>R$250,00</td>
                                <td>remover</td>
                            </tr>
                            <tr>
                                <td>Marcia</td>
                                <td>Mensalidade Thiago</td>
                                <td>R$250,00</td>
                                <td>remover</td>
                            </tr>
                            <tr>
                                <td>Marcia</td>
                                <td>Alimentos</td>
                                <td>R$-200,00</td>
                                <td>remover</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn ">
    <a class="btn-floating purple darken-3 " href="add.html ">
        <i class="material-icons ">add</i>
    </a>
</div>