<div class="section no-pad-bot " id="index-banner ">
    <div class="container ">
        <ul class="collapsible" materialize="collapsible" data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">filter_list</i>Resumo
                </div>
                <div class="collapsible-body ">
                    <table>
                        <tr>
                            <td></td>
                            <td>Bruto</td>
                            <td>Liquido</td>
                            <td> # </td>
                        </tr>
                        <tr>
                            <td>Entrada</td>
                            <td>{{entradaBruta | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td>{{entradaLiquida | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td [style.color]="getStyle(entradaLiquida - entradaBruta)">{{(entradaLiquida - entradaBruta)| NumberToStringFormat: 2:'R$ ': '':',':'.'}} ( {{(entradaLiquida/entradaBruta
                                - 1)| NumberToStringFormat: 2:'': '%':',':'.'}})
                            </td>
                        </tr>
                        <tr>
                            <td>Saida</td>
                            <td>{{saidaBruta | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td>{{saidaLiquida | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td [style.color]="getStyle(saidaBruta - saidaLiquida)">{{(saidaBruta - saidaLiquida)| NumberToStringFormat: 2:'R$ ': '':',':'.'}} ( {{(saidaLiquida/saidaBruta
                                - 1)| NumberToStringFormat: 2:'': '%':',':'.'}})
                            </td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td [style.color]="getStyle(entradaBruta + saidaBruta)">{{entradaBruta + saidaBruta | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td [style.color]="getStyle(entradaLiquida + saidaLiquida)">{{entradaLiquida + saidaLiquida | NumberToStringFormat: 2:'R$ ': '':',':'.'}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </li>

        </ul>
        <u2x-tf-movimentacao [hasSearch]="false"></u2x-tf-movimentacao>

    </div>
</div>
<div class="fixed-action-btn ">
    <a class="btn-floating purple darken-3 " routerLink="/add-movimentacao">
        <i class="material-icons ">add</i>
    </a>
</div>