<div class="section no-pad-bot " id="index-banner ">
    <div class="container ">
        <ul class="collapsible" materialize="collapsible" data-collapsible="accordion ">
            <li>
                <div class="collapsible-header active ">
                    <i class="material-icons ">filter_list</i>Resumo
                </div>
                <div class="collapsible-body ">
                    <p>
                        <b>Entrada</b>:
                        <label> {{(entrada | NumberToStringFormat: 2:'R$ ': '':',':'.') }}</label>
                    </p>
                    <p>
                        <b>Saída</b>:
                        <label> {{(saida | NumberToStringFormat: 2:'R$ ': '':',':'.') }} </label>
                    </p>
                    <p>
                        <b>Caixa</b>:
                        <label> {{(total | NumberToStringFormat: 2:'R$ ': '':',':'.') }} </label>
                    </p>

                </div>
            </li>
            <li>
                <div class="collapsible-header ">
                    <i class="material-icons ">storage</i>Detalhe
                </div>
                <div class="collapsible-body ">

                    <u2x-tf-movimentacao [lstMovimentacao]="movimentacaos" [hasSearch]="false"></u2x-tf-movimentacao>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn ">
    <a class="btn-floating purple darken-3 " routerLink="/add-movimentacao">
        <i class="material-icons ">add</i>
    </a>
</div>